.create-btn {
  margin-bottom: 15px;
}

.gig-card-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-color: #000;
}

.actions-area {
  position: relative;
}

.actions-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.task-tables-container {
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-base-color: #fff;
  min-height: 80vh;
}

.task-tables-container::-webkit-scrollbar {
  height: 6px;
  background-color: #fff;
}

.task-table-column {
  display: inline-block;
  vertical-align: text-top;
  background-color: transparent;
  margin: 10px;
  padding: 0px 15px 15px 15px;
  width: 20%;
  min-height: 100%;
}

.task-new-table-column {
  margin-top: 30px;
}

.task-table-title {
  font-size: 20px;
}

.task-card {
  position: relative;
  display: flex;
  background-color: #424244;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #c3c3c3;
  border-radius: 7px;
  min-height: 100px;
  cursor: pointer;
}

.task-title {
  margin-left: 15px;
}

.task-dueDate {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.new-task-card {
  background-color: #424244;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #c3c3c3;
  border-radius: 7px;
}

.task-text-input {
  background-color: transparent;
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-green {
  color: green;
}

.text-yellow {
  color: yellow;
}
