
body {
  font-family: 'Montserrat', sans-serif !important;
  overflow: hidden;
}

h1 {
  font-size: 20px !important;
}

.create-btn {
  margin-bottom: 15px;
  color: #f2f2f2;
}

.green-btn {
  background-color: #06483c;
}

.green-btn:hover {
  background-color: #095c4d;
}

.blue-btn {
  background-color: #083642;
}

.blue-btn:hover {
  background-color: #09303a;
}

.red-btn {
  background-color: #441d1d;
}

.red-btn:hover {
  background-color: #f03e3e40;
}

.edit-btn {
  color: #424244;
}

.edit-btn:hover {
  color: #0eba9b;
  background-color: #04342c;
}

.delete-btn {
  color: #424244;
}

.delete-btn-alt {
  color: #000;
}

.delete-btn:hover,
.delete-btn-alt:hover {
  color: #e76161;
  background-color: #4c1f1f;
}

.grid-area {
  /* border: 1px solid rgb(42, 42, 42); */
  /* border: 1px solid #c8c8c8; */
  border-radius: 10px;
  margin: 0px;
  /* background-color: #1e1e1e; */
  min-height: 480px;
}

.gig-card-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
  background-color: #000;
}

.actions-area {
  position: relative;
  border: 1px solid rgb(48, 51, 56);
  border-radius: 10px;
}

.actions-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.deliverable-icon {
  display: inline-block;
  height: 10px;
}

.task-tables-container {
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-base-color: transparent;
  min-height: 80vh;
  /* border: 1px solid #424242; */
  border-radius: 10px;
  margin-top: 10px;
  margin-left: -15px;
  /* background-color: #1e1e1e; */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.task-tables-container::-webkit-scrollbar {
  display: none;
}

.task-table-column {
  position: relative;
  display: inline-block;
  vertical-align: text-top;
  background-color: transparent;
  padding: 0px 15px 15px 15px;
  width: 20%;
  min-height: 100%;
}

.task-new-table-column {
  margin-top: 70px;
}

.task-table-title {
  font-size: 20px;
}

.task-card {
  position: relative;
  display: flex;
  background-color: rgb(48, 48, 48);
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid rgb(42, 42, 42);
  border-radius: 7px;
  min-height: 100px;
  cursor: pointer;
}

.task-title {
  margin-left: 15px;
}

.task-dueDate {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.task-priority {
  position: absolute;
  bottom: 5px;
  left: 10px;
  width: 100px;
}

.new-task-card {
  background-color: rgb(48, 48, 48);
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid rgb(42, 42, 42);
  border-radius: 7px;
}

.task-text-input {
  background-color: transparent;
  color: #fff;
}

.text-center {
  text-align: center;
}

.text-green {
  color: #0eba9b;
}

.text-yellow {
  color: yellow;
}

.text-red {
  color: #e76161;
}

.card-design {
  border: none;
}

form .mantine-InputWrapper-root {
  margin-top: 16px;
}

form .mantine-InputWrapper-label {
  margin-bottom: 2px;
}

.right-section-btn {
  margin-left: -13px;
  background-color: transparent;
  color: #0eba9b;
}

.right-section-btn:hover {
  background-color: transparent;
  color: #055043;
}


input:focus,
input:focus-within,
textarea:focus,
textarea:focus-within {
  border-color: #1dbeea !important;
}

.file-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 15px 20px;
  margin: 10px;
  border: 1px solid #c3c3c3;
  border-radius: 7px;
  cursor: pointer;
}

.file-image {
  width: 70%;
  margin-top: 10px;
}


.toggle-switch {
  position: relative;
  width: 200px;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.toggle-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0eba9b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}